nav {
  margin-bottom: 20px;
}

  nav a {
    margin-right: 10px;
    text-decoration: none;
    color: blue;
  }

    nav a:hover {
      text-decoration: underline;
    }

form {
  display: flex;
  flex-direction: column;
}

  form label, form input {
    margin-bottom: 10px;
  }

button {
  width: 100px;
}
